<%- include('partials/header') %>

<!DOCTYPE html>
<html>

<head>
  <title>The Thirsty Mongoose</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<h1>Welcome to The Thirsty Mongoose!</h1>
<a href="/bars"><img src="https://cdn.britannica.com/s:700x450/06/174006-004-D3CD447E.jpg" alt=""></a>
<a href="/beers"><img src="https://cdn.britannica.com/s:700x450/06/174006-004-D3CD447E.jpg" alt=""></a>

</html>

<%- include('partials/footer') %>