<%- include('partials/header') %>

<!DOCTYPE html>
<html>

<head>
  <title>The Thirsty Mongoose</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<h1>HELLOOOO!</h1>

</html>

<%- include('partials/footer') %>